.container{
    width:100%;
    height:1100px;
}
.header{
    width:100%;
    min-width: 1300px;
    height:50px;
    background-color: #00b050;
}
.navBar ul{
    list-style-type: none;
    margin-left: 70px;
    width:700px;
    float: left;
}
.navBar ul li{
    margin-left: 30px;
    text-align: center;
    display: inline-block;
    width:100px;
    height:50px;
    line-height: 50px;
    font-size: 18px;
    font-family: "黑体";
}
.navBar ul a:link,.navBar ul a:visited{
    text-decoration: none;
    display: block;
    color:white;
}
.navBar ul a:hover,.navBar ul a:active{
    background-color: #006a33;
}
.selected{
    background-color: #f2f2f2;
}
.header_right{
    width:400px;
    height:50px;
}
.search{
    width:200px;
    height:50px;
}
.search span{
    margin-top:14px;
    background-color: #ffffff;
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
}
.search input{
    margin-top:15px;
    text-indent: 6px;
    font-family: "黑体";
    font-size: 14px;
}
.header .user{
    background-color: #ffffff;
    width:40px;
    height:38px;
    font-size: 40px;
    margin-left: 20px;
    margin-top:5px;
}
.login_box{
    line-height: 50px;
}
.login_box a{
    color: #f2f2f2;
    margin-left: 5px;
}
.login_box a:hover{
    text-decoration: none;
    color: #e88141;
}
.enter{
    width:80px;
    height:35px;
    border:1.5px solid #dbd4de;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 40px;
    background-color: #ffffff;
}
.enter:hover{
    background-color: #f2f2f2;
}
.modal-title{
    font-size: 20px;
    color:white;
    font-family: "微软雅黑";
}



/* footer */
.footer{
    background-color: #00b050;
    width:100%;
    min-width:1300px;
    height:100px;
}
.footer .list_href{
    width:500px;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 100px;
}
.footer .list_href li{
    text-align: center;
    display: inline-block;
    margin-left: 30px;
}
.footer .list_href a{
    color: #ffffff;
    font-family: "微软雅黑";
    font-size: 14px;
}
.footer .copyright{
    color: #cfcecc;
    margin-left: 130px;
}